.top{
    /* background-color: aqua; */
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 100px !important;
}
.cons{
    min-height: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(255, 115, 0);
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.info{
    width: 60%;
    text-align: justify;
}
.about{
    padding-right: 20px;
    width: 80%;
    text-align: right;
}