<div class="top">
    <h1> <strong> PICO Y PLACA </strong> </h1>
</div>
<div class="cons">
    <div class="about">
        <h1><a href="/panel/search"> Consulta de información acerca de cuando puedes circular</a> </h1>
    </div>
</div>
<div class="text">
    <div class="left"></div>
    <div class="info">
        <h4>Horario de <strong>restricción vehicular</strong> en Quito. La medida se aplica el
            Lunes, martes, miércoles, jueves y viernes en el horario de 07h00 a 19h00.</h4>
        <strong>Medida:</strong> La medida pico y placa implementada por la Agencia Metropolitana de Tránsito de Quito
        con el fin de
        restringir la circulación de vehículos en la ciudad y mejorar el flujo vehicular.
        <h2>Como funciona el Pico y Placa?</h2>
        <h5>Obtenga el último dígito de la placa de su automóvil, a continuación revise el día que no podrá circular
            dicho dígito en el horario de 07h00 a 19h00.</h5>
        <h2>Horario de Hoy no circula en Quito.</h2>
        El Horario de restricción por <strong>Hoy no circula</strong> es:
        <ul>
            <li>
                <strong>De Lunes a Viernes </strong> 07h00 a 19h00
            </li>
        </ul>
        <p>El Horario se aplica de acuerdo al último dígito de la placa como sigue:</p>
        <strong>Lunes:</strong> No circulan las placas terminadas en <strong>1, 2.</strong><br>
        <strong>Martes:</strong> No circulan las placas terminadas en <strong>3, 4.</strong><br>
        <strong>Miécoles:</strong> No circulan las placas terminadas en <strong>5, 6.</strong><br>
        <strong>Jueves:</strong> No circulan las placas terminadas en <strong>7, 8.</strong><br>
        <strong>Viernes:</strong> No circulan las placas terminadas en <strong>9, 0.</strong><br>

        <h2>Ejemplo de aplicación de la restricción vehicular:</h2>
        <ul>
            <li>El vehículo tiene la placa PCQ-838</li>
            <li> el último dígito es el <strong> 1</strong> </li>
        </ul>
        <h5>De acuerdo a la tabla de restricción, el vehículo no puede circular en la ciudad el día lunes y viernes
            desde las 07h00 hasta las 19h00. Fuera del horario el automóvil puede circular sin problemas dentro de la
            ciudad de Quito.</h5>
    </div>
    <div class="right"></div>
</div>