<div class="cont">
    <div class="form">
        <div class="register-form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="tittle">
                    <h2>Consula de circulación</h2>
                </div>

                <div class="line">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>N° de palca</mat-label>
                        <input type="text" placeholder="Seleccione" aria-label="Placa" matInput formControlName="licensePlate"
                            [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of cars" [value]="option.licensePlate">
                                {{option.licensePlate}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <br>
                <div class="line">
                    <mat-form-field style="size: 100%;">
                        <input matInput readonly [matDatepicker]="picker" placeholder="Fecha" formControlName="date"
                            (dateChange)="date($event)" style="size: 100%;">
                        <mat-datepicker-toggle matSuffix [for]="picker" style="size: 100%;"></mat-datepicker-toggle>
                        <mat-datepicker #picker style="size: 100%;"></mat-datepicker>
                    </mat-form-field>


                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Fecha de consulta es requerida</div>
                    </div>
                </div>

                <div class="buttons">

                    <button class="btn btn-info rounded-pill" type="button" (click)="AddNew()">Agregar</button>
                    <button class="btn btn-success rounded-pill" type="submit" (click)="onSubmit()"
                        color="primary">Consultar</button>
                </div>
                <div class="line">
                </div>
            </form>

        </div>
    </div>
</div>

<p-toast [style]="{marginTop: '20px'}" [baseZIndex]="10000"></p-toast>
